$console-color: #14fdce;
$console-bg: #031e11; // global settings

// .content code {
//  font-size: 0.5em; 
// }

body {
  overflow: hidden;
  background: #212121;
  height: 100vh;
  width: 100vw;
}

.kb-close {
  position: absolute;
  top: 0;
  right: 20px;
  padding: 10px;
  cursor: pointer;

  &:active,
  &:focus,
  &:hover {
    background-color: $console-color;
    color: $console-bg;
  }
}

.kb-crt {
  font-size: 1em;
  background: #212121;
  font-family: "Hack";

  .frame {
    display: none;
  }

  &.active .frame {
    display: block;
  }
}

ion-icon {
  --ion-color-base: currentColor;
}